.body-grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .sidenav {
        grid-area: 1 / 1 / 2 / 2;
    }

    main {
        grid-area: 1 / 2 / 2 / 3;
    }
}