.body-grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .sidenav {
        grid-area: 1 / 1 / 2 / 2;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 190px;
    }

    main {
        grid-area: 1 / 2 / 2 / 3;
        overflow-y: scroll;
    }
}