 <!-- 
    This component needs the next props:
    {user}
  -->

<nav class="sidenav">
  <figure class="mt-4">
    <img src="https://www.citypng.com/public/uploads/preview/profile-user-round-white-icon-symbol-png-11639594348fn8rlcxrqo.png?v=2023061801" alt="User photo" />
    <caption><%= user.username %></caption>
  </figure>
  <ul>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="/about">Acerca de</a></li>
    <li><a href="/contact">Contacto</a></li> -->
    <li><a href="/signout">Cerrar sesión</a></li>
  </ul>
</nav>
