 <!-- 
    This component needs the next props:
    {id,description, type, mount}
  -->
 <li class="transaction-item">
    <div class="row">
        <div class="col-8"><%= description %></div>
        <div class="col-4 position-relative">
            <% if (type === 'INCOME') { %>
                <span class="badge bg-success position-absolute" style="left: 100%; transform: translate(-100%, 25%);">+ $<%= mount %></span>
            <% } else if (type === 'EXPENSE') { %>
                <span class="badge bg-danger position-absolute" style="left: 100%; transform: translate(-100%, 25%);">- $<%= mount %></span>
            <% } %>
        </div>
    </div>
    <button class="btn btn-primary transaction-item__delete" data-id="<%= id %>">-</button>
</li>