#home-page{
    padding: 1rem;
    #grafica-gastos{
        h2 {
            text-align: center;
        }
        .controls{
            display: flex;
            justify-content: center;
            gap: 0 1rem;

            &__chart{
                position: relative;

                button{
                    position: absolute;
                    left: 100%;

                    transform: translate(-100%, -100%);

                }
            }

            &__button{
                align-self: center;
            }
        }
    }

    #lista-gastos{
        
        ul{
            padding: 0 25%;
            overflow-y: scroll;
            margin-top: 1rem;
            height: 17rem;
        }
        
        .transaction-item{
            display: flex;
            gap: 0 1rem;

            .row{
                flex: 1 1 auto;
                padding: 0.5rem 0.8rem;
                border-radius: 10px;
                background-color: $grey;
            }

            &__delete{
                display: inline-block;
            }

            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
    }
}